<% content_for :javascript_includes do %>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?sensor=true&libraries=places" %>
<%= javascript_include_tag "maps.js" %>
<% end %>

<%- model_class = Map -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<h3><%= @map.description %></h3>

<div id="map_canvas" class="gmap_canvas"></div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              maps_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_map_path(@map), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              map_path(@map),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>

  <input type="button" class="btn" onclick="getURLMap(<%= @map.latitude %>,<%= @map.longitude %>,'<%= @map.description %>');" value="Go to Google Maps"></input>
</div>
