<!DOCTYPE html>
<html>
<head>
  <title>TEDWZombies</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :javascript_includes %>
  <%= csrf_meta_tags %>
</head>
<body <%= (" onload= \"#{@onload}\"").html_safe %>>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <span class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </span>
          <span class="brand" href="#">TDEW Zombies</span>
        </div>
      </div>
    </div>

<div class="container">
	<%= yield %>
</div>

</body>
</html>